extends layout

block content
  .content.aboutpage
 
    header#page-header
      .dark-overlay
        .container-fluid
          .row
            .col-md-6.m-auto.text-center.headerinfo
              .headerinfo-contents
                h1 FOOD STYLIST
                h2.text-primary sookyung Oh 
                span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, inventore!
                input#headerimagepath(type="hidden" value= headerimagePath) 
                p= headerimagePath
      
    section#video-play
      .row
        .col
          .container
            .about-video-indicator
              span VIDEO CLIPS
      .container
        .row
          .col-lg-6.col-md-12
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/6wuVin0KnG0")
          .col-lg-6.col-md-12
            iframe(allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/xwvjezWrVKA")
          .col-lg-6.col-md-12.mt-4
            iframe( allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/TeHTlibljVE")
          .col-lg-6.col-md-12.mt-4
            iframe( allowfullscreen="allowfullscreen" frameBorder="0" src="https://www.youtube.com/embed/iXxQujmYLus")

    
    section#about-info
      .container
        .row
          .col-lg-6.col-md-6.col-sm-12.brand-info
            h2 Beeze
            h3 브리즈
            .info-border
            p 푸드스타일리스트 김은아와 브랜드디렉터 심승규가 이끄는 '차리다'는
              | #인생을_아름답게 #차리다 를 모토로 다양한 분야에서 음식을 매개로 한 
              | 크리에이티브 활동을 활발히 펼쳐가고 있는 디자인 스튜디오이다. 

          .col-lg-6.col-md-6.col-sm-12.stylist-info
            h2 FOOD Stylist Oh sukyung
            h3 푸드스타일리스트 오수경
            .info-border
            p 푸드스타일리스트 김은아와 브랜드디렉터 심승규가 이끄는 '차리다'는
              | #인생을_아름답게 #차리다 를 모토로 다양한 분야에서 음식을 매개로 한 
              | 크리에이티브 활동을 활발히 펼쳐가고 있는 디자인 스튜디오이다. 
    
    section#contact
      .container
        .col-md-6.contact-card-wrap
          .card.p-4.contct-card
            .card-body
              h3.text-center Lorem ipsum dolor, sit amet consectetur a!
              hr
              .row
                .col-md-12
                  .form-group
                    input.form-control(type="text" placeholder="Name")
                .col-md-6
                  .form-group
                    input.form-control(type="email" placeholder="Email")
                .col-md-6
                  .form-group
                    input.form-control(type="text" placeholder="Phone Number")                    
              .row
                .col-md-12
                  .form-group
                    textarea.form-control(placeholder="message")
                .col-md-12
                  .gorm-group
                    input.btn.btn-outline-danger.btn-block(type="submit" value="Submit")
            