extends layout

block content
  .content.aboutpage
 
    header#page-header
      .dark-overlay
        .container-fluid
          .row
            .col-md-6.m-auto.text-center.headerinfo
              div.headerinfo-contents
                h1 FOOD STYLIST
                h2.text-primary sookyung Oh 
                span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, inventore!
                input#headerimagepath(type="hidden" value= aboutimages[0].headerimage) 
            