
extends layout

block content
  .content.intropage

    //- homepage background picture
    section#intro-image-section
      .container-fluid             
        .slider
          each introimage in introimages[0].imagename
            .item
              img(src=introimage)

          
  
        
              