
extends layout

block content
  .content.managerpage    
    .container-fluid
      .row
        .col-lg-12.col-md-4
          h1 CREATE DB
          
    section.py-4        
      .container-fluid
        .row.ml-3   
          form.form-wrap(action='/manager/createdb' method='post')                
            input(type='submit' value= 'DB CREATE') 

      
            
                 