
extends layout

block content
  .content.portfolio
    header#portfolio-section
      .container
        .row
          .col-md-12
            .header-info
              h3 FOOD STYLING
    section.foodstyling-img
      .container.my-4
        .row
          #food-image-container.mb-4
            each foodstyling in  portfolioimages[0].foodstyling                          
              img.mb-4.col-lg-4.col-md-12.mb-4(src=foodstyling)

      
      
      
       



              
      