
extends layout

block content
  .content.portfolio
    section#foodstyling-section
      //- food styling header
      .container
        .row
          .col-md-12
            .foodstyling-header-info
              h3 FOOD STYLING

      //- food styling image
     
      .container
        .row
          #food-image-wrap         
            each gallerypath in gallerypaths[0].images                          
              img.col-lg-4.col-md-6.mb-4(src= gallerypath.path)

    section#candle-section
      //- candle header
      .container
        .row
          .col-md-12
            .candle-header-info
              h3 CANDLE

      //- candle image
      .container
        .row
          #candle-image-wrap
            each gallerypath in  gallerypaths[1].images                    
              img.img-fluid.col-lg-4.col-md-6.mb-4(src=gallerypath.path )

      
      
      
       



              
      