body{
  margin-top: 94.5px;
}

/*----------------------- intro page -------------------- */

/* nav-bar */


.content.intropage .navbar .nav-item 
{
  font-size: 1.2rem;
  padding-right: 1.4rem; 
}

.content.intropage .dropdown-menu {
  border: none;
  background-color: rgba(0, 0, 0, 0); 
}

.content.intropage .dropdown-menu .dropdown-item 
{
  font-size:0.9rem; 

}

/* intro-image-section */

.content.intropage .slider{
  height: 840px;
  display: flex;
  align-items: center;
}

.content.intropage .slider .item img{
  display: block;
  height:840px;
  width: auto;
  margin: 0 10px;
}

@media (max-width: 576px) { 

  .content.intropage .slider{
    height: 450px;
    display: flex;
    align-items: flex-start;
  }
  .content.intropage .slider .item img{
    display: block;
    height:450px;
    width: auto;
    margin: 0 10px;

  }
 }


/*----------------------- intro end -------------------- */


