.content.intropage .navbar {
  box-shadow: 2px 2px 5px #808000;
  opacity: 0.9;
  background: #fff; }
  .content.intropage .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 1.4rem; }

.content.intropage .dropdown-menu {
  border: none;
  background-color: rgba(0, 0, 0, 0); }

.content.intropage .dropdown-menu .dropdown-item {
  font-size: 0.9rem; }
